<template>
    <div class="dashboard-page">
      <h1 class="page-title">Welcome Applicant</h1>
      <b-row>
        <b-col xs="4" lg="2" xl="2" >
        <b-button class="button-cl" variant="outline-dark">
          <span class="icon mb-20">
          <i class="fa fa-credit-card"></i>
        </span>
        <span class="xt">Your Payments</span>
        </b-button>
      </b-col>
      <b-col xs="4" lg="2" xl="2" >
        <b-button class="button-cl" variant="outline-dark">
          <span class="tx">
            <span class="xt">12</span>
          </span>
        Applications
        </b-button>
      </b-col>
      <b-col xs="12" lg="4">
          <Widget
            title="<h5>This Months Payment</h5>"
            customHeader collapse
          >
            <h5>SSP 4000.00</h5>
          </Widget>
      </b-col>
      <b-col xs="12" lg="4">
          <Widget
            title="" class="text-center"
            customHeader collapse
          >
            <i class="fa fa-credit-card xz"></i>
            <h5 class="mb-20">Last Transaction</h5>
            <h3>SSP 4000.00</h3>
            <h6>Aug 27, 2022 at 8:22 am</h6>
          </Widget>
      </b-col>
      </b-row>
      <h3 class="page-sub-title">Services</h3>
      <b-row>
        <b-col xs="4" lg="2" xl="3" >
        <b-button class="button-xs" variant="outline-dark">
          <span class="icon">
          <i class="fa fa-slack"></i>
        </span>
        Start To Build Application
        </b-button>
      </b-col>
      <b-col xs="4" lg="2" xl="3" >
        <b-button class="button-xs" variant="outline-dark">
          <span class="icon">
          <i class="fa fa-ge"></i>
        </span>
        Licences & Permit
        </b-button>
      </b-col>
      <b-col xs="4" lg="2" xl="3" >
        <b-button class="button-xs" variant="outline-dark">
          <span class="icon">
            <i class="fa fa-circle-o-notch"></i>
          </span>
          Inspections
        </b-button>
      </b-col>
      <b-col xs="4" lg="2" xl="3" >
        <b-button class="button-xs" variant="outline-dark">
          <span class="icon">
            <i class="fa fa-cubes"></i>
          </span>
          Annual Service Fee
        </b-button>
      </b-col>
      <b-col xs="4" lg="2" xl="3" >
        <b-button class="button-xs" variant="outline-dark">
          <span class="icon">
            <i class="fa fa-file-excel-o"></i>
          </span>
          Get Quotation
        </b-button>
      </b-col>
      </b-row>
      <b-row>
          <b-col xs="12">
            <Widget
              title="<h5>Your <span class='fw-semi-bold'>Applications</span></h5>"
              bodyClass="widget-table-overflow"
              customHeader
            >
              <div class="table-responsive">
                <table class="table table-striped table-lg mb-0 requests-table">
                  <thead>
                    <tr class="text-muted">
                      <th>Ref. No</th>
                      <th>Applicant</th>
                      <th>Building Type</th>
                      <th>Block</th>
                      <th>Dimension</th>
                      <th>Start Date</th>
                      <th>Estimated Completion</th>
                      <th>STATUS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="row in mock.table"
                      :key="row.id"
                    >
                      <td>{{row.refno}}</td>
                      <td>{{row.applicant}}</td>
                      <td>{{row.buldingtype}}</td>
                      <td>{{row.block}}</td>
                      <td>{{row.dimension}}</td>
                      <td>{{row.startdate}}</td>
                      <td>{{row.estimatedcompletion}}</td>
                      <td>
                        <b-badge
                          :variant="row.status === 'Pending'
                            ? 'success'
                            : row.status === 'Declined' ? 'danger' : 'info'"
                          pill
                        >
                          {{row.status}}
                        </b-badge>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </Widget>
          </b-col>
        </b-row>
    </div>
  </template>
  
  <script>
  import Widget from '@/components/Widget/Widget';
  import BigStat from './components/BigStat/BigStat';
  import mock from './mock';
  
  import { Chart } from 'highcharts-vue';
  
  export default {
    name: 'DashboardMain',
    components: {
      Widget, BigStat, highcharts: Chart
    },
    data() {
      return {
        mock
      };
    },
    methods: {
      getRandomData() {
        const arr = [];
  
        for (let i = 0; i < 25; i += 1) {
          arr.push(Math.random().toFixed(1) * 10);
        }
  
        return arr;
      },
      getRevenueData() {
        const data = [];
        const seriesCount = 3;
        const accessories = ['SMX', 'Direct', 'Networks'];
  
        for (let i = 0; i < seriesCount; i += 1) {
          data.push({
            label: accessories[i],
            data: Math.floor(Math.random() * 100) + 1,
          });
        }
  
        return data;
      }
    },
    computed: {
      donut() {
        let revenueData = this.getRevenueData();
        let {danger, info, primary} = this.appConfig.colors;
        let series = [
          {
            name: 'Revenue',
            data: revenueData.map(s => {
              return {
                name: s.label,
                y: s.data
              }
            })
          }
        ];
        return {
          chart: {
            type: 'pie',
            height: 120
          },
          credits: {
            enabled: false
          },
          title: false,
          plotOptions: {
            pie: {
              dataLabels: {
                enabled: false
              },
              borderColor: null,
              showInLegend: true,
              innerSize: 60,
              size: 100,
              states: {
                hover: {
                  halo: {
                    size: 1
                  }
                }
              }
            }
          },
          colors: [danger, info, primary],
          legend: {
            align: 'right',
            verticalAlign: 'middle',
            layout: 'vertical',
            itemStyle: {
              color: '#495057',
              fontWeight: 100,
              fontFamily: 'Montserrat'
            },
            itemMarginBottom: 5,
            symbolRadius: 0
          },
          exporting: {
            enabled: false
          },
          series
        };
      }
    }
  };
  </script>
  
  <style src="./DashboardMain.scss" lang="scss" />
  