@import '../../styles/app';

.dashboard-page {
  .requests-table {
    td, th {
      font-weight: $font-weight-normal;
    }

    tbody tr {
      td {
        min-width: 100px;
      }
    }
  }
  .button-cl {
    display: block;
  }

  .visitElement {
    max-width: 50%;
    width: 33%;
    min-width: 65px;
  }
}
