<template>
    <div class="dashboard-page">
      <h1 class="page-title">Payments</h1>
      <b-row>
        <b-col md="6" xl="6" sm="6" xs="12">
          <div class="pb-xlg h-100">
            <Widget class="h-100 mb-0" title="Available" close>
              <div class="d-flex justify-content-between align-items-center mb-lg">
                <h2>4,332</h2>
                <i class="la la-arrow-right text-primary la-lg rotate-315" />
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="mt">
                  <h6>+830</h6><p class="text-muted mb-0 mr"><small>View Transactions</small></p>
                </div>
              </div>
            </Widget>
          </div>
        </b-col>
        <b-col md="6" xl="6" sm="6" xs="12">
          <div class="pb-xlg h-100">
            <Widget class="h-100 mb-0" title="Pending" close>
              <div class="d-flex justify-content-between align-items-center mb-lg">
                <h2>4,332</h2>
                <i class="la la-arrow-right text-danger la-lg rotate-300" />
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="mt">
                  <h6>+14</h6><p class="text-muted mb-0 mr"><small>View Transactions</small></p>
                </div>
              </div>
            </Widget>
          </div>
        </b-col>
      </b-row>
      <b-row>
          <b-col xs="12">
            <Widget
              title="<h5>Cash In Transaction</h5>"
              bodyClass="widget-table-overflow"
              customHeader
            >
              <div class="table-responsive">
                <table class="table table-striped table-lg mb-0 requests-table">
                  <thead>
                    <tr class="text-muted">
                      <th>Ref. No</th>
                      <th>Type</th>
                      <th>Date</th>
                      <th>Transaction ID</th>
                      <th>Amount</th>
                      <th>Service</th>
                      <th>Applicant Name</th>
                      <th>Building Ref.No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="row in mock.table"
                      :key="row.id"
                    >
                      <td>{{row.refno}}</td>
                      <td>{{row.type}}</td>
                      <td>{{row.date}}</td>
                      <td>{{row.trnsactionid}}</td>
                      <td>{{row.amount}}</td>
                      <td>{{row.service}}</td>
                      <td>{{row.applicantname}}</td>
                      <td>{{row.buildingrefno}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </Widget>
          </b-col>
        </b-row>
    </div>
  </template>
  
  <script>
  import Widget from '@/components/Widget/Widget';
  import BigStat from './components/BigStat/BigStat';
  import mock from './mock';
  
  import { Chart } from 'highcharts-vue';
  
  export default {
    name: 'Payments',
    components: {
      Widget, BigStat, highcharts: Chart
    },
    data() {
      return {
        mock
      };
    },
    methods: {
      getRandomData() {
        const arr = [];
  
        for (let i = 0; i < 25; i += 1) {
          arr.push(Math.random().toFixed(1) * 10);
        }
  
        return arr;
      },
      getRevenueData() {
        const data = [];
        const seriesCount = 3;
        const accessories = ['SMX', 'Direct', 'Networks'];
  
        for (let i = 0; i < seriesCount; i += 1) {
          data.push({
            label: accessories[i],
            data: Math.floor(Math.random() * 100) + 1,
          });
        }
  
        return data;
      }
    },
    computed: {
      donut() {
        let revenueData = this.getRevenueData();
        let {danger, info, primary} = this.appConfig.colors;
        let series = [
          {
            name: 'Revenue',
            data: revenueData.map(s => {
              return {
                name: s.label,
                y: s.data
              }
            })
          }
        ];
        return {
          chart: {
            type: 'pie',
            height: 120
          },
          credits: {
            enabled: false
          },
          title: false,
          plotOptions: {
            pie: {
              dataLabels: {
                enabled: false
              },
              borderColor: null,
              showInLegend: true,
              innerSize: 60,
              size: 100,
              states: {
                hover: {
                  halo: {
                    size: 1
                  }
                }
              }
            }
          },
          colors: [danger, info, primary],
          legend: {
            align: 'right',
            verticalAlign: 'middle',
            layout: 'vertical',
            itemStyle: {
              color: '#495057',
              fontWeight: 100,
              fontFamily: 'Montserrat'
            },
            itemMarginBottom: 5,
            symbolRadius: 0
          },
          exporting: {
            enabled: false
          },
          series
        };
      }
    }
  };
  </script>
  
  <style src="./Payments.scss" lang="scss" />
  