<template>
    <div :class="[{root: true, sidebarClose, sidebarStatic}, 'sing-dashboard']">
      <SidebarMain />
      <Helper />
      <div class="wrap">
        <Header />
        <v-touch class="content" @swipe="handleSwipe" :swipe-options="{direction: 'horizontal'}">
          <breadcrumb-history></breadcrumb-history>
          <transition name="router-animation">
            <router-view />
          </transition>
          <footer class="contentFooter">
            ERP
          </footer>
        </v-touch>
      </div>
    </div>
    </template>
    
    <script>
    import { createNamespacedHelpers } from 'vuex';
    const { mapState, mapActions } = createNamespacedHelpers('layout');
    
    import SidebarMain from '@/components/SidebarMain/SidebarMain';
    import Header from '@/components/Header/Header';
    import Helper from '@/components/Helper/Helper';
    
    import './LayoutMain.scss';
    
    export default {
      name: 'LayoutMain',
      components: { SidebarMain, Header, Helper },
      methods: {
        ...mapActions(['switchSidebar', 'handleSwipe', 'changeSidebarActive', 'toggleSidebar'],
        ),
        handleWindowResize() {
          const width = window.innerWidth;
    
          if (width <= 768 && this.sidebarStatic) {
            this.toggleSidebar();
            this.changeSidebarActive(null);
          }
        },
      },
      computed: {
        ...mapState(["sidebarClose", "sidebarStatic"]),
      },
      created() {
        const staticSidebar = JSON.parse(localStorage.getItem('sidebarStatic'));
    
        if (staticSidebar) {
          this.$store.state.layout.sidebarStatic = true;
        } else if (!this.sidebarClose) {
          setTimeout(() => {
            this.switchSidebar(true);
            this.changeSidebarActive(null);
          }, 2500);
        }
    
        this.handleWindowResize();
        window.addEventListener('resize', this.handleWindowResize);
      },
      beforeDestroy() {
        window.removeEventListener('resize', this.handleWindowResize);
      }
    };
    </script>
    
    <style src="./LayoutMain.scss" lang="scss" />
    