@import '../../styles/app';

.dashboard-page {
  .requests-table {
    td, th {
      font-weight: $font-weight-normal;
    }

    tbody tr {
      td {
        min-width: 100px;
      }
    }
  }
  .tx{
    font-weight: 600;
    font-size: 15px;
  }
  .button-cl {
    display: block;
    margin-bottom: 20px;
  }
  .button-xp {
    width: 50%;
  }
  .tsx {
    align-items: left;
  }
  .button-xs {
    display: block;
    margin-bottom: 20px;
  }
  .xt {
    display: block;
  }
  .bg-dy {
    margin-left: 20px;
  }
  .xz{
    font-size: 40px;
    margin-bottom: 10px;
  }
  .mb-20{
    margin-bottom: 40px;
  }
  .mb-10{
    margin-bottom: 20px;
  }

  .visitElement {
    max-width: 50%;
    width: 33%;
    min-width: 65px;
  }
}
