<template>
    <div class="tables-basic">
      <h2 class="page-title">Insurance</h2>
      <b-row>
        <b-col>
          <Widget
            customHeader
          >
          <div class="clearfix">
              <div class="float-right">
                <b-button variant="default" class="mr-3" size="sm">Pay</b-button>
              </div>
            </div>
            <div class="table-resposive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="hidden-sm-down">#</th>
                    <th>Inspection Number</th>
                    <th>Description</th>
                    <th class="hidden-sm-down">Building Ref. No</th>
                    <th class="hidden-sm-down">Applicant</th>
                    <th class="hidden-sm-down">Building Type</th>
                    <th class="hidden-sm-down">Insurance Type</th>
                    <th class="hidden-sm-down">Inspection Date</th>
                    <th class="hidden-sm-down">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="row in tableStyles" :key="row.id">
                    <td>{{row.id}}</td>

                    <td>
                      {{row.inspectionno}}
                    </td>
                    <td class="text-semi-muted">
                      {{row.description}}
                    </td>
                    <td class="text-semi-muted">
                      {{row.buildingrefno}}
                    </td>
                    <td class="width-150">
                      {{row.applicant}}
                    </td>
                    <td class="width-150">
                      {{row.buildingtype}}
                    </td>
                    <td class="width-150">
                      {{row.insurancetype}}
                    </td>
                    <td class="width-150">
                      {{row.inspectiondate}}
                    </td>
                    <td class="width-150">
                      {{row.status}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </Widget>
        </b-col>
      </b-row>
    </div>
  </template>
  
  <script>
  import Vue from 'vue';
  import Widget from '@/components/Widget/Widget';
  import Sparklines from '../../../components/Sparklines/Sparklines'
  
  export default {
    name: 'Insurance',
    components: { Widget, Sparklines },
    data() {
      return {
        tableStyles: [
          {
            id: 1,
            inspectionno: '5698',
            description: 'Application For Insurance',
            buildrefno: '2256UYS8',
            applicant: 'Isinya Kevin',
            buildingtype: 'Rentals',
            insurancetype: 'Individual',
            inspectiondate: 'September 16, 2012',
            status: 'Rejected',
          },
          {
            id: 2,
            inspectionno: '2256',
            description: 'Application For Insurance',
            buildrefno: '2256UYS8',
            applicant: 'Owiti Ochieng',
            buildingtype: 'Rentals',
            insurancetype: 'Individual',
            inspectiondate: 'September 14, 2012',
            status: 'Accepted',
            }
        ],
        checkboxes1: [false, false, false, false],
        checkboxes2: [false, false, false, false, false, false],
        checkboxes3: [false, false, false, false, false, false],
      };
    },
    methods: {
      parseDate(date) {
        const dateSet = date.toDateString().split(' ');
        return `${date.toLocaleString('en-us', { month: 'long' })} ${dateSet[2]}, ${dateSet[3]}`;
      },
      checkAll(ev, checkbox) {
        const checkboxArr = (new Array(this[checkbox].length)).fill(ev.target.checked);
        Vue.set(this, checkbox, checkboxArr);
      },
      changeCheck(ev, checkbox, id) {
        this[checkbox][id] = ev.target.checked;
        if (!ev.target.checked) {
          this[checkbox][0] = false;
        }
      },
      getRandomData() {
        const result = [];
  
        for (let i = 0; i <= 8; i += 1) {
          result.push(Math.floor(Math.random() * 20) + 1);
        }
  
        return [{data: result}];
      },
      getRandomColor() {
        const {primary, success, info, danger} = this.appConfig.colors;
        const colors = [info, primary, danger, success];
        return {colors: [colors[Math.floor(Math.random() * colors.length)]]}
      }
    },
  };
  </script>
  
  <style src="./insurance.scss" lang="scss" scoped />
  