<template>
    <div class="sidebar-wrapper">
      <nav
          :class="{sidebar: true, sidebarStatic, sidebarOpened}"
          @mouseenter="sidebarMouseEnter"
          @mouseleave="sidebarMouseLeave"
      >
  
  
        <ul class="nav">
          <template>
            <span class="avatar rounded-circle thumb-sm float-left mr-2">
              <img class="rounded-circle" src="../../assets/people/a7.png" alt="..." />
            </span>
            <span class="text">Hello, Daniel Sirali</span>
          </template>
          <NavLink
              header="Dashboard"
              link="/app/dashboard"
              iconName="fa-sliders"
              index="dashboard"
              isHeader
          />
          <NavLink
              :activeItem="activeItem"
              header="Onboarding"
              link="/app/components"
              iconName="fa-history"
              index="components"
              :childrenLinks="[
                { header: 'Applicants', link: '/app/start-to-build' },
                { header: 'Properties', link: '/app/apply-for-inspection' },
              ]"
          />
          <NavLink
              :activeItem="activeItem"
              header="Applications"
              link="/app/components"
              iconName="fa-briefcase"
              index="components"
              :childrenLinks="[
                { header: 'Fire Brigades: Start To Build Approval', link: '/app/start-to-build' },
                { header: 'Fire Brigades: Inspection Approvals', link: '/app/apply-for-inspection' },
              ]"
          />
          <NavLink
              :activeItem="activeItem"
              header="Permit & Licenses"
              link="/app/components"
              iconName="fa-book"
              index="components"
              :childrenLinks="[
                { header: 'Inspection', link: '/app/start-to-build' },
                { header: 'Occupancy', link: '/app/apply-for-inspection' },
              ]"
          />
          <NavLink
              header="Insurance"
              link="/app/notifications"
              iconName="fa-pied-piper"
              index="reports"
              isHeader
          />
          <NavLink
              :activeItem="activeItem"
              header="Billing"
              link="/app/components"
              iconName="fa-money"
              index="components"
              :childrenLinks="[
                { header: 'Service Fee', link: '/app/start-to-build' },
                { header: 'Demand Note', link: '/app/apply-for-inspection' },
                { header: 'Form 15', link: '/app/insurance' },
                { header: 'Annual Service Fee', link: '/app/annual-service-fee' },
                { header: 'Quotations', link: '/app/quotations' },
              ]"
          />
          <NavLink
              header="Files & Violation"
              link="/app/notifications"
              iconName="fa-adjust"
              index="reports"
              isHeader
          />
          <NavLink
              :activeItem="activeItem"
              header="Reports"
              link="/app/components"
              iconName="fa-barcode"
              index="components"
              :childrenLinks="[
                { header: 'Users', link: '/app/start-to-build' },
                { header: 'Roles & Permission', link: '/app/apply-for-inspection' },
                { header: 'Operational Structure', link: '/app/insurance' },
                { header: 'Address Setup', link: '/app/annual-service-fee' },
                { header: 'Rate Management', link: '/app/quotations' },
              ]"
          />
          <NavLink
              header="Settings"
              link="/app/settings"
              iconName="fa-gear"
              index="reports"
              isHeader
          />
        </ul>
      </nav>
    </div>
  </template>
  
  <script>
  import { mapState, mapActions } from 'vuex';
  import isScreen from '@/core/screenHelper';
  import NavLink from './NavLink/NavLink';
  
  export default {
    name: 'SidebarMain',
    components: { NavLink },
    data() {
      return {
        alerts: [
          {
            id: 0,
            title: 'Sales Report',
            value: 15,
            footer: 'Calculating x-axis bias... 65%',
            color: 'danger',
          },
          {
            id: 1,
            title: 'Personal Responsibility',
            value: 20,
            footer: 'Provide required notes',
            color: 'primary',
          },
        ],
      };
    },
    methods: {
      ...mapActions('layout', ['changeSidebarActive', 'switchSidebar']),
      setActiveByRoute() {
        const paths = this.$route.fullPath.split('/');
        paths.pop();
        this.changeSidebarActive(paths.join('/'));
      },
      sidebarMouseEnter() {
        if (!this.sidebarStatic && (isScreen('lg') || isScreen('xl'))) {
          this.switchSidebar(false);
          this.setActiveByRoute();
        }
      },
      sidebarMouseLeave() {
        if (!this.sidebarStatic && (isScreen('lg') || isScreen('xl'))) {
          this.switchSidebar(true);
          this.changeSidebarActive(null);
        }
      },
    },
    created() {
      this.setActiveByRoute();
    },
    computed: {
      ...mapState('layout', {
        sidebarStatic: state => state.sidebarStatic,
        sidebarOpened: state => !state.sidebarClose,
        activeItem: state => state.sidebarActiveElement,
      }),
    },
  };
  </script>
  
  <!-- Sidebar styles should be scoped -->
  <style src="./SidebarMain.scss" lang="scss" scoped/>
  