@import '../../styles/app';
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: $sidebar-width-open;
  height: 100vh;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-color);
  transition: $transition-base;
}

.sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: $sidebar-width-open;
  transition: width $sidebar-transition-time ease-in-out, left $sidebar-transition-time ease-in-out;

  @include sidebar-scrollbar();
}
.text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}
.xt {
  display: block;
}

.avatar {
  display: flex;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 40px;
  width: 40px;
  background: #ffc247;
  font-weight: 600;
  font-size: 18px;
}

.avatar-badge {
  background-color: #0D2B47;
}

.sidebarClose .sidebar-wrapper {
  width: $sidebar-width-closed;

  @include media-breakpoint-down(sm) {
    width: 0;
  }
}

.sidebarStatic .sidebar-wrapper {
  width: $sidebar-width-open;
}

.logo {
  margin: 15px 0;
  font-size: 18px;
  width: 100%;
  font-weight: $font-weight-normal;
  text-align: center;
  transition: width $sidebar-transition-time ease-in-out;
  text-shadow: 4px 4px 15px rgba(92, 176, 255, 0.6);
  text-transform: uppercase;

  a {
    color: var(--logo-color);
    padding: 0 9px;
    text-decoration: none;
    white-space: nowrap;
  }
  .secondary-word {
    opacity: 1;
    transition: all $sidebar-transition-time;
  }
  .primary-word {
    color: var(--logo-color);
    font-weight: $font-weight-normal;
  }
}

.generator-link {
  display: block;
  color: var(--sidebar-color-item)!important;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px!important;
}

.sidebarClose .logo {
  width: $sidebar-width-closed;
  .secondary-word {
    opacity: 0;
  }
}

.sidebarStatic .logo {
  width: 100%;
  transition: none;
  .secondary-word {
    opacity: 1;
  }
}

.nav {
  width: 100%;
  margin-top: 140px;
  padding-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.navTitle {
  margin: 35px 0 24px 22px;
  font-size: $font-size-mini;
  font-weight: $font-weight-bold;
  transition: opacity $sidebar-transition-time ease-in-out;
  color: rgba(#5287B9, 0.6);

  &.first {
    margin-top: 46px;
  }

  @media (min-width: breakpoint-min(lg)) {
    opacity: 1;
  }
}


.sidebarClose .navTitle {
  opacity: 0;
}


.sidebarStatic .navTitle {
  opacity: 1;
  transition: none;
}

.actionLink {
  color: #aaa;
  float: right;
  margin-right: 22px;
  margin-top: -1px;

  .la {
    font-size: $font-size-sm;
    margin-top: 4px;
  }
}

.labelName {
  opacity: 1;
  color: white;
  font-size: $font-size-base;
  transition: opacity $sidebar-transition-time ease-in-out;
}

.sidebarClose .labelName {
  opacity: 0;
}

.sidebarStatic .labelName {
  transition: none;
  opacity: 1;
}

.glyphiconSm {
  font-size: 9px;
}

.sidebarLabels {
  list-style-type: none;
  padding: 11px 15px 11px 24px;

  > li + li {
    margin-top: 10px;
  }

  li > a {
    font-size: $font-size-mini;
    color: var(--sidebar-color);
    text-decoration: none;

    > i {
      font-size: 11px;
      margin-right: 20px;
      vertical-align: 1px;
      color: var(--sidebar-item-active);
      transition: margin-left $sidebar-transition-time ease-in-out;
    }
  }
  li {
    padding-bottom: 28px;
  }
}

.sidebarStatic {
  .sidebarLabels {
    list-style-type: none;
  }
  .sidebarLabels > li > a > i {
    transition: none;
    margin-left: 0;
  }
}

.sidebarAlerts {
  margin-bottom: $spacer * 2;
  transition: opacity $sidebar-transition-time ease-in-out;
  opacity: 1;
  color: $widget-bg;
  font-size: 13px;
  font-weight: 400;
}

.sidebarClose .sidebarAlerts {
  opacity: 0;
}

.sidebarStatic .sidebarAlerts {
  opacity: 1;
  transition: none;
}

.alert.sidebarAlert {
  background: transparent;
  margin-bottom: 0;
  padding-right: 22px;
  padding-left: 22px;
}

.sidebarProgress {
  background: var(--sidebar-progress-bg-color);
}

.groupTitle {
  margin-bottom: 15px;
}
