<template>
  <div class="sidebar-wrapper">
    <nav
        :class="{sidebar: true, sidebarStatic, sidebarOpened}"
        @mouseenter="sidebarMouseEnter"
        @mouseleave="sidebarMouseLeave"
    >


      <ul class="nav">
        <template>
          <span class="avatar rounded-circle thumb-sm float-left mr-2">
            <img class="rounded-circle" src="../../assets/people/a7.png" alt="..." />
          </span>
          <span class="text">Hello, Daniel Sirali</span>
        </template>
        <NavLink
            header="Dashboard"
            link="/app/dashboard"
            iconName="fa-sliders"
            index="dashboard"
            isHeader
        />
        <NavLink
            header="Payment"
            link="/app/payments"
            iconName="fa-credit-card"
            index="notifications"
            isHeader
        />
        <NavLink
            :activeItem="activeItem"
            header="Applications"
            link="/app/components"
            iconName="fa-briefcase"
            index="components"
            :childrenLinks="[
              { header: 'Start To Build', link: '/app/start-to-build' },
              { header: 'Apply For Inspection', link: '/app/apply-for-inspection' },
              { header: 'Insurance', link: '/app/insurance' },
              { header: 'Annual Service Fee', link: '/app/annual-service-fee' },
              { header: 'Quotations', link: '/app/quotations' },
            ]"
        />
        <NavLink
            header="Reports"
            link="/app/reports"
            iconName="fa-file-pdf-o"
            index="reports"
            isHeader
        />
        <NavLink
            header="Statistics"
            link="/app/statistics"
            iconName="fa-database"
            index="tables"
            isHeader
        />
      </ul>
    </nav>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import isScreen from '@/core/screenHelper';
import NavLink from './NavLink/NavLink';

export default {
  name: 'Sidebar',
  components: { NavLink },
  data() {
    return {
      alerts: [
        {
          id: 0,
          title: 'Sales Report',
          value: 15,
          footer: 'Calculating x-axis bias... 65%',
          color: 'danger',
        },
        {
          id: 1,
          title: 'Personal Responsibility',
          value: 20,
          footer: 'Provide required notes',
          color: 'primary',
        },
      ],
    };
  },
  methods: {
    ...mapActions('layout', ['changeSidebarActive', 'switchSidebar']),
    setActiveByRoute() {
      const paths = this.$route.fullPath.split('/');
      paths.pop();
      this.changeSidebarActive(paths.join('/'));
    },
    sidebarMouseEnter() {
      if (!this.sidebarStatic && (isScreen('lg') || isScreen('xl'))) {
        this.switchSidebar(false);
        this.setActiveByRoute();
      }
    },
    sidebarMouseLeave() {
      if (!this.sidebarStatic && (isScreen('lg') || isScreen('xl'))) {
        this.switchSidebar(true);
        this.changeSidebarActive(null);
      }
    },
  },
  created() {
    this.setActiveByRoute();
  },
  computed: {
    ...mapState('layout', {
      sidebarStatic: state => state.sidebarStatic,
      sidebarOpened: state => !state.sidebarClose,
      activeItem: state => state.sidebarActiveElement,
    }),
  },
};
</script>

<!-- Sidebar styles should be scoped -->
<style src="./Sidebar.scss" lang="scss" scoped/>
